* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  background-color: FFFFF;
}

nav {
  grid-area: Nav;
  background-color: red;
}

main {
  grid-area: Main;
  background-color: blue;
}

.content1 {
  grid-area: Content1;
  background-color: green;
}

.content2 {
  grid-area: Content2;
  background-color: yellow;
}

.content3{
  grid-area: Content3;
  background-color: purple;
}

footer {
  grid-area: Footer;
  background-color: black;
}


.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
  'Nav Nav Nav Nav'
  'Main Main Main Main'
  'Content1 Content1 Content2 Content2'
  'Content3 Content3 Content3 Content3'
  'Footer Footer Footer Footer';
  grid-gap: 5px;
}


/* Mobile layout */

@media only screen and (max-width: 700px) {

  .grid-container {
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 1fr 1fr 1fr;
  grid-template-areas:
  'Nav'
  'Main'
  'Content1'
  'Content2'
  'Content3'
  'Footer';
  }
}
