* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--brand-color);
}

body {
  background-color: var(--primary-color);
  color: #1a0b36;
  font-family: var(--primary-font-family);
}

main {
  section {
    min-height: 100vh;
  }
}