// General styles -----------------------------------------------------------------------

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--primary-color);
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-txt-color);
  font-family: var(--primary-font-family);
}

nav {
  img {
    width: 24px;
    height: auto;
  }
}

section {
  a {
    svg {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

h2 {
  font-family: var(--secondary-font-family);
}

footer {
  img {
    width: 80px;
    height: auto;
  }
}

// Utility classes and Ids ----------------------------------------------------------------------

.glass-container {
  background: rgba(242, 244, 243, 0.4);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease-in-out;

  &:hover {
    background: rgba(242, 244, 243, 0.8);
  }
}

.error-message {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.show {
    opacity: 1;
  }
}

.logo {
  fill: var(--sl-color-neutral-300);
  transition: fill 0.2s ease-in-out;
}

.project:hover,
.project:active,
.project:focus {
  .logo {
    fill: var(--primary-color);
  }
}

.letter-a, .empty-ellipses, #frontRectangle {
  transition: fill 0.5s ease-in-out;
  fill: var(--primary-color);
}

#middleRectangle {
  transition: fill 0.5s ease-in-out;
  fill: var(--accent-color-green-secondary);
}

#backRectangle {
  transition: fill 0.5s ease-in-out;
  fill: var(--accent-color-green-primary);
}

#heroSVG {
  width: 75vh;
  @media screen and (min-width: 768px) {
    width: 50vh;
  }
}