:root {
  // Fonts
  --primary-font-family: 'Open Sans', sans-serif;
  --brand-font-family: 'Fraunces', serif;

  // Colours
  --primary-color: #f2f4f3;
  $brand-color: #15616d;
  --brand-color: #{$brand-color};
  --primary-txt-color: var(--sl-color-primary-900);
  --link-color: #{$brand-color};

  // Shoelace color tokens
  --sl-color-primary-50: #{lighten($brand-color, 40%)};
  --sl-color-primary-100: #{lighten($brand-color, 30%)};
  --sl-color-primary-200: #{lighten($brand-color, 20%)};
  --sl-color-primary-300: #{lighten($brand-color, 10%)};
  --sl-color-primary-400: #{$brand-color};
  --sl-color-primary-500: #{darken($brand-color, 10%)};
  --sl-color-primary-600: #{darken($brand-color, 20%)};
  --sl-color-primary-700: #{darken($brand-color, 30%)};
  --sl-color-primary-800: #{darken($brand-color, 40%)};
  --sl-color-primary-900: #{darken($brand-color, 50%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};
}