:root {

  // Fonts

  --primary-font-family: 'Open Sans', sans-serif;
  --secondary-font-family: 'Fraunces', serif;

  // Colours

  $primary-color: #15616d;
  --primary-color: #{$primary-color};
  --secondary-color: #f2f4f3;

  --primary-txt-color: #001524;
  --link-color: #{$primary-color};

  // Shoelace color tokens

  --sl-color-primary-50: #{lighten($primary-color, 25%)};
  --sl-color-primary-100: #{lighten($primary-color, 20%)};
  --sl-color-primary-200: #{lighten($primary-color, 15%)};
  --sl-color-primary-300: #{lighten($primary-color, 10%)};
  --sl-color-primary-400: #{lighten($primary-color, 5%)};
  --sl-color-primary-500: #{$primary-color};
  --sl-color-primary-600: #{darken($primary-color, 5%)};
  --sl-color-primary-700: #{darken($primary-color, 10%)};
  --sl-color-primary-800: #{darken($primary-color, 15%)};
  --sl-color-primary-900: #{darken($primary-color, 20%)};
  --sl-input-focus-ring-color: #{rgba($primary-color, 0.3)};
}

// Bootstrap

$primary: #15616d;
$secondary: #f2f4f3;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
);

// Bootstrap Navbar

$navbar-light-icon-color: $primary;
$navbar-light-toggler-border-color: $secondary;
$navbar-light-color: $primary;